footer{
    clear:both;
    font-size:20px;
    color: green;
    height:75px;
    display:block;
    position:absolute;
    text-align: center;
    bottom:0;
    width: 100%;
}

footer div{
    margin: 0 auto;
    padding: 5px 10px;
    display:inline-block;
    background-color: rgba(232,245,233,0.9);
}

.present {
    background-color: rgba(232,245,233,0.9);
}

.reveal h1 {
    padding: 50px 50px;
    color: #43A047;
}

.reveal h2 {
    color: #43A047;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    text-transform: none;
}

.reveal table.table-big {
    font-size: 1.3em;
    font-style: bold;
}

.reveal table.table-big th {
    text-align: right;
}